{%- if include.category -%}
  	{%- assign posts = site.categories[include.category] | sort: 'date' | reverse -%}
{%- else -%}
	{%- assign posts = site.posts | sort: 'date' | reverse -%}
{%- endif -%}

{%- if posts.size > 0 -%}
	<ul>
		{%- for post in posts limit: include.limit -%}
			<li>
				<span>
				{% if site.theme_config.date_format %}
					{{ post.date | date: site.theme_config.date_format }}
				{% else %}
					{{ post.date | date: "%Y-%m-%d" }}
				{% endif %}
				</span>
				<a href="{{ post.url | relative_url }}">{{ post.title | downcase }}</a>
			</li>
		{%- endfor -%}
		{%- if include.limit and posts.size > include.limit -%}
			<li class="more">
				<a href="{{ include.show_more_url }}">{{ include.show_more_text | default: "See more..." }}</a>
			</li>
		{%- endif -%}
	</ul>
{%- else -%}
	<p>No posts found.</p>
{%- endif -%}
