---
---

@use "variables";

html {
	background: var(--background-color);
}

body {
	max-width: 45rem;
	margin: 8px auto;
	padding-left: 8px;
	padding-right: 8px;
	font-family: variables.$font-family;
	color: var(--text-color);
	line-height: 1.4;
}

menu {
	list-style-type: "|";
	padding: 0;
}

menu li {
	display: inline-block;
	margin-right: 2px;
}

h1, h2, h3 {
	font-size: 1em;
}

a {
	color: var(--link-color);
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	background-color: var(--link-color);
	color: var(--link-hover-text-color);
}

img {
	max-width: 100%;
}

figure {
	margin-left: auto;
	margin-right: auto;
}

figcaption {
	font-size: 0.875em;
	text-align: left;
}

pre {
	overflow-x: auto;
}

abbr {
	cursor: help;
}

.metadata {
	color: var(--text-secondary-color);
}

.skip {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.skip:focus {
	opacity: 1;
}

.language-diff .gd {
	color: var(--gd-color);
}

.language-diff .gi {
	color: var(--gi-color);
}

.language-diff .p {
	position: sticky;
	left: 0;
	color: grey;
}
